import React, { Component } from 'react';

import {
  TouchableOpacity,
  StyleSheet,
  Text,
  Image,
  ListView,
  FlatList,
  ScrollView,
  TextInput,
  Dimensions,
  RefreshControl,
  Switch,
  View
} from 'react-native';

{{#out.config.styleUrl}}
import styles from "{{{out.config.styleUrl}}}";
{{/out.config.styleUrl}}


export default class  extends Component {


  static navigationOptions = {
    title: '{{{out.config.pageTitle}}}',
  };


  constructor(props) {
    super(props);
  }





  {{#out.templates}}
    x_template_render_{{name}}(item){
      return (
      {{{content}}}
      )
    }
  {{/out.templates}}



  

  render(){

    const { navigate } = this.props.navigation;

    return (
      {{{out.content}}}
    )
  }

};
